/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";

 .table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

.table caption {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;
}

.table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.table th, .table td {
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.table thead th{ 
  text-transform: uppercase;
  background-color: #ddd;
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
  .table {
      border: 0px;
  }
  .table caption {
      font-size: 22px;
  }
  .table thead {
      display: none;
  }
  .table tr {
      margin-bottom: 8px;
      border-bottom: 4px solid #ddd;
      display: block;
  }
  .table th, .table td {
      font-size: 12px;
  }
  .table td {
      display: block;
      border-bottom: 1px solid #ddd;
      text-align: right;
  }
  .table  td:last-child {
      border-bottom: 0px;
  }
  .table td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      float: left;
  }
}